*~
aclocal.m4
AUTHORS
autoconf.h
autoconf.h.in
autom4te.cache
_build
_build/
ChangeLog
config
config.log
config.status
configure
configure
configure.ac
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install
_install/
KEYS.html
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
NEWS
.nfs*
*.o
rc.m4
README
scripts
scripts/
stamp-h*
.*.sw[op]
THANKS
TODO
xde-app
xde-cycle
xde-dock
xde-dock-*.tar.xz
xde-keys
xde-menu
xde-menugen
xde-pager
xde-recent
xde-run
xde-setbg
xde-winlist
xde-winmenu
