*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
!dtwmrc.man
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
MENUS.html
!mwm.man
!mwmrc.man
.nfs*
*.o
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
*.tmp
xde-menu
xde-menugen.man
xde-menu-monitor.man
xde-menu-popmenu.man
xde-menu-quit.man
xde-menu-refresh.man
xde-menu-replace.man
xde-menu-restart.man
xde-menu-*.tar.xz
